.search__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search__word{
    font-size: 16px;
    color: #4b5563;
}

:global(body.dark) .search__word {
    color: #94a3b8;
}

.search__result{
    font-size: 24px;
    font-weight: 600;
}

.search__block{
    display: flex;
    gap: 20px;
}

.search__container{
    padding: 50px 0;
}