.search__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search__title{
    font-size: 28px;
    font-weight: 700;
    color: #111827;
}

.body.dark .search__title{
    color: #f8fafc;
}

.search__word{
    font-size: 16px;
    color: #4b5563;
}

.body.dark .search__word{
    color: #94a3b8;
}

.search__result{
    font-size: 24px;
    font-weight: 600;
}

.search__block{
    display: flex;
    gap: 20px;
}

