.filter__title{
    font-size: 20px;
    font-weight: 600;
}

.sortby{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.sortby__text{
    font-weight: 600;
}

.sortby__select{
    min-width: 160px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

.rating{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating__box{
    display: flex;
    justify-content: space-between;
}

.rating__word{
    font-size: 14px;
    font-weight: 600;
}

.rating__count{
    font-size: 14px;
}

.rating__input{
    width: 100%;
}

.cat{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}