:root{
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --primary-back-color: #FFFFFF;
    --secondary-back-color: #f9fafb;

    --primary-text-color: #213547;
    --secondary-text-color: #4b5563;

    --primary-dark-back-color: #0b1120;
    --secondary-dark-back-color: #0f172a;

    --primary-text-dark-color: #e2e8f0;
    --secondary-text-dark-color: #4b5563;

}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: var(--primary-back-color);
    color: var(--primary-text-color);
}

/*theme start*/
body.dark {
    background: var(--primary-dark-back-color);
    color: var(--primary-text-dark-color);
}

body header{
    background: var(--secondary-back-color);
    color: var(--secondary-text-color);
    border-bottom: 1px solid #e5e7eb;
}

body.dark header{
    background: var(--secondary-dark-back-color);
    color: var(--secondary-text-dark-color);
    border-top: 1px solid #1f2b40;
}

body footer{
    background: var(--secondary-back-color);
    color: var(--secondary-text-color);
    border-bottom: 1px solid #e5e7eb;
}

body.dark footer{
    background: var(--secondary-dark-back-color);
    color: var(--secondary-text-dark-color);
    border-top: 1px solid #1f2b40;
}

/*theme end*/

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

ul,
li {
    display: block;
}

a{
    transition: all 0.5s ease;
    text-decoration: none;
}

button{
    transition: all 0.5s ease;
    cursor: pointer;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

section{
    padding: 50px 0;
    flex: 1;
}







.layout {
    display: flex;
    gap: 24px;
    padding: 20px;
}

.filtered__sidebar {
    padding: 24px;
    background: #f3f4f6;
    gap: 30px;
    border-radius: 12px;
}

.sidebar {
    width: 280px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}