.movie{
    width: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.movie:hover img {
    transform: scale(1.05);
}

.movie__img{
    width: 180px;
    height: 270px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.movie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
    transform-origin: center;
}

.movie__title{
    font-size: 16px;
    font-weight: 500;
    color: #111827;
}

.body.dark .movie__title{
    color: #f8fafc;
}

.movie__rating{
    display: inline-grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #FFFFFF;
}

.movie__rating_card{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.movie__rating_green{
    background: #22c55e;
}

.movie__rating_yelow{
    background: #facc15;
}


.movie__favorite{
    transition: all 0.5s ease;
    color: #FFFFFF;
    background: #0f172a99;
    width: 40px;
    height: 40px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.movie:hover .movie__favorite {
    display: flex;
}

.movie__favorite.active{
    display: flex;
    color: #facc15;
}

.movie__favorite svg{
    width: 20px;
}

.movie__favorite:hover{
    background: #2563eb;
}